/**
 * bootstrap-dropselect.less
 *
 * @author Jovanni Lo @lodev09
 * @copyright 2014 Jovanni Lo
 */
 .dropselect {
    width: 300px;
    padding: 0;
    border-collapse: separate;
    margin-bottom: 20px;
  }
  .dropselect-loading-overlay {
    display: none;
    text-indent: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.8);
    animation: dropselect-pulse 2s infinite linear;
    -webkit-animation: dropselect-pulse 2s infinite linear;
    -moz-animation: dropselect-pulse 2s infinite linear;
  }
  .dropselect-loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    font-size: 32px;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-indent: 0;
  }
  .dropselect.dropselect-loading .dropselect-loading-overlay {
    display: block;
  }
  .dropselect > .dropdown-header {
    background: #f5f5f5;
    padding: 8px 10px;
    font-size: inherit;
    color: #333333;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
  }
  .dropselect > .dropselect-list {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    min-width: 160px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
  }
  .dropselect > .dropselect-list > .dropselect-item .dropselect-item-icon {
    visibility: hidden;
  }
  .dropselect > .dropselect-list > .dropselect-item.dropselect-selected .dropselect-item-icon {
    visibility: visible;
  }
  .dropselect > .dropselect-list > li:nth-last-child(2) {
    border-bottom: 0;
  }
  .dropselect > .dropselect-list > .dropselect-no-results {
    padding: 10px;
    color: #777777;
    display: none;
    border-bottom: 0;
  }
  .dropselect > .dropselect-list.filter-empty .dropselect-no-results,
  .dropselect > .dropselect-list > .dropselect-no-results:only-child {
    display: block;
  }
  .dropselect > li,
  .dropselect > .dropselect-list > li {
    border-bottom: 1px solid #eeeeee;
  }
  .dropselect > li > a,
  .dropselect > .dropselect-list > li > a {
    padding: 8px;
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: normal;
  }
  .dropselect > li > a:hover,
  .dropselect > .dropselect-list > li > a:hover,
  .dropselect > li > a:focus,
  .dropselect > .dropselect-list > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
  }
  .dropselect > li > a:hover .dropselect-item-icon,
  .dropselect > .dropselect-list > li > a:hover .dropselect-item-icon,
  .dropselect > li > a:focus .dropselect-item-icon,
  .dropselect > .dropselect-list > li > a:focus .dropselect-item-icon {
    color: #262626;
  }
  .dropselect .divider {
    height: 5px;
    margin: 0;
    background-color: #f8f8f8;
  }
  .dropselect-item-icon {
    width: 23px;
    display: table-cell;
    color: #333333;
  }
  .dropselect > .dropselect-filter {
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
  }
  .dropselect > .dropselect-filter .dropselect-filter-input {
    display: block;
    width: 100%;
    max-width: 100%;
    float: none;
  }
  @-webkit-keyframes dropselect-pulse {
    0% {
      color: rgba(170, 170, 170, 0.1);
    }
    10% {
      color: #aaaaaa;
    }
    100% {
      color: rgba(170, 170, 170, 0.1);
    }
  }
  @keyframes dropselect-pulse {
    0% {
      color: rgba(170, 170, 170, 0.1);
    }
    10% {
      color: #aaaaaa;
    }
    100% {
      color: rgba(170, 170, 170, 0.1);
    }
  }